.contrib-footer {
  border-bottom: 1px solid #d8d8d8;
}

.gh-streak-box {
  display: inline-block;
  padding: 5px;
  text-align: center;
  width: 33.33%;
}

.gh-streak-box + .gh-streak-box {
  border-left: 1px solid #d8d8d8;
}

.gh-streak-box-header {
  margin-top: 10px;
  margin-bottom: 0;
}

.gh-streak-box h1 {
  color: #000;
  font-size: 28px;
  font-weight: 300;
}
